h4 {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-weight: 600;
  color: grey;
  font-size: 0.7rem;
}

body {
  background-color: #eee;
}

#subMenu {
  display: none;
  position: fixed;
  width: 291px;
  /* margin-left: 20px; */
  background-color: white;
  border-radius: 5px;
  font-family: sans-serif;
  z-index: 1; /* move ot front*/
  margin-top: -20px;
  border: 3px black solid;
}
#main {
  padding-top: 110px;
  width: 90vw;
}

.container {
  background-color: #fff;
  margin-left: 280px;
  /* padding: 0; */
}

#body {
  position: fixed;
  padding-top: 200px;
  top: 100;
}

#historyBtn {
  color: black;
  background-color: black;
}
#tooltip-bottom {
  background-color: black;
}

#image {
  margin-top: 50px;
}
#randomHistory {
  position: fixed;
  width: 280px;
  margin-top: 200px;
  text-align: center;
  font-size: 2rem;
}
#randomList {
  position: fixed;
  width: 280px;
  margin-top: 250px;
  text-align: center;
  font-size: 1rem;
}

#preview {
  position: fixed;
  width: 280px;
}
#searchBar {
  width: 20rem;
}
.input-group {
  position: fixed;
  margin-top: -20px;
  padding-top: 80px;
  background-color: white;
  height: 130px;
  width: 90vw;
}
#searchBtn {
  border-radius: 5px;
  width: 10rem;
  height: 2.3rem;
  background-color: white;
  color: black;
  border: 3px rgb(53, 53, 95) solid;
  transition: 0.5s;
  line-height: 1rem;
}
#searchBtn:hover {
  transform: scale(1.1);
}

.historyBtn {
  display: block;
  color: black;
  margin-left: -18px;
  width: 100%;
  transition: 0.5s;
  border: 3px rgb(53, 53, 95) solid;
  border-radius: 5px;
}

.historyBtn:hover {
  transform: scale(1.1);
}
/* **********************random**************** */
#randomBtn {
  border-radius: 5px;
  margin-left: -200px;
  width: 10rem;
  height: 2.3rem;
  background-color: white;
  border: 3px rgb(53, 53, 95) solid;
  transition: 0.5s;
}
#randomBtn:hover {
  transform: scale(1.1);
}
#randomDiv {
  display: inline;
  margin: 0 auto;
}

#spinner {
  display: none;
}

article {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 auto;
}
article:hover {
  border: 2px solid #ff9999;
}

.thumb {
  height: 70px;
  border-radius: 4px;
}

.details {
  padding: 8px 22px;
}
.item {
  background-color: white;
  margin-right: 10px;
}
